---
import BaseLayout from "../../layouts/BaseLayout.astro";

const obj = {
    my_name: 'Astro',
    my_age: 1,
    my_location: 'The Web'
}
const res = await fetch('https://jsonplaceholder.typicode.com/posts/1') // Fetching data from an API
const data = await res.json();
console.log("🚀 ~ data: ",data)

---

<BaseLayout title="myTitle">
    <div>
        <h1>Test</h1>
    </div>

</BaseLayout>